.container {
  border: dashed;

  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
}

/* Main cross */

.item {
  --hue: 0;

  text-align: center;
  background-color: hsl(var(--hue), 100%, 70%);
}

/*  justify-content

   flex-start -> Inicio 
   center     -> Meio   
   flex-end   -> Fim
   space-evenly -> Espaço ao redor
   space-around -> Espaço igual para todos
  space-between -> Espaço entre eles




.container {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content:space-around;
}

*/
/* Aline itens 
  center
  flex-stat
  flex-end

  Depende de como ta o flex-direction 
  pois ele muda o eixo

*/

.container {
  height: 20vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.container-multi-line {
  margin-top: 20px;
  border: dashed;
  height: 50vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  gap: 20px;
  flex-wrap: wrap;

  .item {
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
